#!/usr/bin/env bash

set -eu

BACKUP_PATH="/var/pgback"
BACKUP_FILE="/var/pgback/pgdump.sql"

if [[ ! -d "$BACKUP_PATH" ]]; then
  if [[ -f "$BACKUP_PATH" ]]; then
    exit 1
  elif [[ -L "$BACKUP_PATH" ]]; then
    exit 1
  else
    mkdir "$BACKUP_PATH"
    chown root:postgres "$BACKUP_PATH"
    chmod 770 "$BACKUP_PATH"
  fi
fi

if [[ -e "$BACKUP_FILE" ]]; then
  rm "$BACKUP_FILE"
fi

sudo -i -u postgres pg_dumpall --no-password --clean --if-exists > "$BACKUP_FILE"
