---
- Essential:
    - Keycloak:
        href: https://admin.hierarch.live/realms/hierarch/account/
        description: Login & manage your account
        icon: mdi-key-chain
    - Email:
        href: https://mail.hierarch.live/?iam_sso=1
        description: Select green dropdown & SSO to sign in
        icon: mdi-mailbox
    - Wiki:
        href: https://wiki.hierarch.live/login/3a61d557-4f6e-4938-9b6e-cf649cc2f677
        description: Stay up to date with the knowledge base
        icon: mdi-information-variant-circle
    - Chat:
        href: https://chat.hierarch.live/
        description: Chat and call your colleagues
        icon: mdi-chat-plus
- Productivity:
    - Code:
        href: https://git.hierarch.live/user/oauth2/keycloak
        description: Code and deploy with ease
        icon: mdi-code-json
    - Docs:
        href: https://docs.hierarch.live/login/
        description: Create and manage your documents securely
        icon: mdi-file-document-multiple
    - HRMS:
        href: https://hr.hierarch.live/web/index.php/openidauth/openIdCredentials/1
        description: Book your vacations here
        icon: mdi-human-handsup
