---
# For configuration options and examples, please see:
# https://gethomepage.dev/latest/configs/settings
title: Hierarch Live
cardBlur: sm
background: {{ background_image }}
theme: dark
color: pink
language: en
target: _blank
base: https://{{ root_domain }}/
disableCollapse: true
layout:
  Essential:
    style: row
    columns: 2
    header: true
  Productivity:
    style: row
    columns: 2
    header: true
quicklaunch:
  searchDescriptions: true
  hideInternetSearch: false
  showSearchSuggestions: true
  hideVisitURL: false
hideVersion: true

# Photo by <a href="https://unsplash.com/@theshubhamdhage?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Shubham Dhage</a> on <a href="https://unsplash.com/photos/a-black-and-white-photo-of-a-curved-object-8HaKRwazMrQ?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
