---
- search:
    provider: brave
    target: _blank
- openmeteo:
    label: {{ hp_om_label }}
    latitude: {{ hp_om_lat }}
    longitude: {{ hp_om_long }}
    timezone: {{ hp_om_tz }}
    units: metric
    cache: 5
- datetime:
    text_size: xl
    format:
        dateStyle: long
        timeStyle: long
- greeting:
    text_size: xl
    text: {{ hp_greeting }}
- logo:
    icon: mdi-crown-outline