module.exports = {
    httpUnsafeOrigin: "https://{{ doc_host }}",
    httpSafeOrigin: "https://{{ sandbox_host }}",
    httpAddress: '0.0.0.0',
    httpPort: 7004,
    httpSafePort: 7005,
    websocketPort: 7006,
    maxWorkers: 6,
    //otpSessionExpiration: 7*24, // hours
    //enforceMFA: false,
    adminKeys: {{ doc_admin_keys }},
    inactiveTime: false,
    archiveRetentionTime: 15,
    maxUploadSize: 50 * 1024 * 1024,
    filePath: './datastore/',
    archivePath: './data/archive',
    pinPath: './data/pins',
    taskPath: './data/tasks',
    blockPath: './block',
    blobPath: './blob',
    blobStagingPath: './data/blobstage',
    decreePath: './data/decrees',
    logPath: './data/logs',
    logToStdout: false,
    logLevel: 'info',
    logFeedback: false,
    verbose: false,
    installMethod: 'unspecified',
};