#
# Managed by Ansible
#

log:
  level: info

runner:
  file: .runner
  capacity: 2
  # envs:
  #   A_TEST_ENV_NAME_1: a_test_env_value_1
  #   A_TEST_ENV_NAME_2: a_test_env_value_2
  env_file: .env
  timeout: 3h
  insecure: false
  fetch_timeout: 10s
  fetch_interval: 2s
  labels: ['docker:docker://debian:bookworm']

cache:
  enabled: true
  dir: ""
  host: ""
  port: 0

container:
  network: ""
  privileged: false
  options:
  workdir_parent:
  valid_volumes:
    - '**'
  docker_host: ""

host:
  workdir_parent: