# {{ ansible_managed }}
KEYCLOAK_ADMIN={{ kc_root_user }}
KEYCLOAK_ADMIN_PASSWORD='{{ kc_root_pass }}'
PATH={{ kc_java_home }}/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
JAVA_HOME={{ kc_java_home }}
JAVA_OPTS_APPEND={{ kc_java_opts }}
KC_DB_URL_PROPERTIES=";ssl=disable"